{% include "header.html" %}

<!-- ===== MAIN ===== -->
<main id="main" class="main">

	<!-- ===== PAGE HEADER ===== -->
	<section class="page-error" style="background-image: url(/assets/img/error-background.jpg)">
		<div class="page-error-inner">
			<div class="container">

				<!-- ===== PAGE HEADER CONTENT ===== -->
				<div class="page-error-content text-center">
					<h2>Oups... Page introuvable</h2>
					<p class="mb-40">La page demandée n'existe pas.
						<br />Nous allons chercher dans la cave si elle s'y trouve par hasard...</p>
					<a href="/index.html" class="btn btn-info">En attendant, vous pouvez retourner à la page d'accueil</a>
				</div>

			</div>
		</div>
	</section>

</main>

{% include "footer.html" %}