{% include "header.html" %}


<!-- ===== MAIN ===== -->
<main id="main" class="main">

	<!-- ===== PAGE HEADER ===== -->
	<header class="page-header" style="background-image: url(/assets/img/single-background.jpg)">
		<div class="page-header-inner">
			<div class="container">

				<!-- ===== BREADCRUMB ===== -->
				<ol class="breadcrumb" itemscope itemtype="http://schema.org/BreadcrumbList">
					<li itemprop="itemListElement">
						<a href="index.html">Home</a>
					</li>
					<li itemprop="itemListElement">
						<a href="#">L'équipe</a>
					</li>
				</ol>

				<!-- ===== PAGE HEADER CONTENT ===== -->
				<div class="page-header-content text-center">
					<h2>L'équipe</h2>
				</div>

			</div>
		</div>
	</header>

	<!-- ===== ABOUT US ===== -->
	<section id="about-us1" class="section-negative">
		<div class="container">

			<!-- ===== SECTION TITLE ===== -->
			<h2 class="title-default text-center">A l'initiative du projet...</h2>

			<div class="row mb-30">

				<!-- ===== TEAM CARD =====  -->
				<div class="col-lg-4 col-md-6 col-sm-6 col-xs-8 mb-40 center-block" style=float:none;>
					<div class="team-card">
						<figure class="team-card-image">
							<img src="/assets/img/team/anthony.jpg" alt="Anthony Gourraud" title="Anthony Gourraud" />
						</figure>
						<div class="team-card-content">
							<h2 class="team-card-title">Anthony Gourraud</h2>
							<p class="team-card-job">Creative technologist</p>
							<p class="team-card-description">Passionné par la radio, mais aussi par l'Innovation appliquée aux médias et à la publicité. Fort attrait pour le développement
								de prototypes issus des nouvelles technologies.</p>
							<ul class="team-card-social">
								<li class="social-item">
									<a href="https://twitter.com/AnthonyGourraud" target="_blank">
										<i class="fa fa-twitter"></i>
									</a>
								</li>
								<li class="social-item">
									<a href="https://www.linkedin.com/in/anthony-gourraud-271918b2/" target="_blank">
										<i class="fa fa-linkedin"></i>
									</a>
								</li>
								<li class="social-item">
									<a href="https://github.com/antho31/" target="_blank">
										<i class="fa fa-github"></i>
									</a>
								</li>
								<li class="social-item">
									<a href="https://anthonygourraud.radio" target="_blank">
										<i class="fa fa-link"></i>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>

			</div>

		</div>
	</section>

	<!-- ===== ABOUT US ===== -->
	<section id="about-us2" class="section-positive">
		<div class="container">

			<!-- ===== SECTION TITLE ===== -->
			<h2 class="title-default text-center">Derrière le micro...</h2>

			<div class="row mb-30">

				<!-- ===== TEAM CARD ===== -->
				<div class="col-lg-4 col-lg-offset-0 col-md-8 col-md-offset-2 col-sm-12 mb-40">
					<div class="team-card">
						<figure class="team-card-image">
							<img src="/assets/img/team/fabien.jpeg" alt="Fabien Jora" title="Fabien Jora" />
						</figure>
						<div class="team-card-content text-primary">
							<h2 class="team-card-title">Fabien Jora</h2>
							<p class="team-card-job">Animateur, producteur & DJ</p>
							<p class="team-card-description">Producteur de bootlegs et remixs playlisté en FM sur Fun radio (Belgique), Radio FG, Siriux XM (USA) et par des djs
								comme Jay Style et Quentin Mosimann. Actuellement sur Toulouse FM.</p>
							<ul class="team-card-social">
								<li class="social-item">
									<a href="http://www.facebook.com/fabienjoradj" target="_blank">
										<i class="fa fa-facebook"></i>
									</a>
								</li>
								<li class="social-item">
									<a href="https://twitter.com/Fabienjora" target="_blank">
										<i class="fa fa-twitter"></i>
									</a>
								</li>
								<li class="social-item">
									<a href="https://www.linkedin.com/in/fabien-jora-a8aa5229/" target="_blank">
										<i class="fa fa-linkedin"></i>
									</a>
								</li>
								<li class="social-item">
									<a href="http://www.fabienjora.com/" target="_blank">
										<i class="fa fa-link"></i>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>

				<!-- ===== TEAM CARD ===== -->
				<div class="col-lg-4 col-lg-offset-0 col-md-8 col-md-offset-2 col-sm-12 mb-40">
					<div class="team-card">
						<figure class="team-card-image">
							<img src="/assets/img/team/marc-mollier.jpg" alt="Marc Mollier" title="Marc Mollier" />
						</figure>
						<div class="team-card-content text-primary">
							<h2 class="team-card-title"> Marc Mollier</h2>
							<p class="team-card-job">Animateur</p>
							<p class="team-card-description">Passionné de radio depuis toujours, animateur de la matinale de Pyrénées FM.</p>
							<ul class="team-card-social">
								<li class="social-item">
									<a href="http://pyreneesfm.com" target="_blank">
										<i class="fa fa-link"></i>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>

				<!-- ===== TEAM CARD ===== -->
				<div class="col-lg-4 col-lg-offset-0 col-md-8 col-md-offset-2 col-sm-12 mb-40">
					<div class="team-card">
						<figure class="team-card-image">
							<img src="/assets/img/team/marc-rigo.jpeg" alt="Marc Rigo" title="Marc Rigo" />
						</figure>
						<div class="team-card-content text-primary">
							<h2 class="team-card-title">Marc Rigo</h2>
							<p class="team-card-job">Ingénieur du son, producteur, réalisateur</p>
							<p class="team-card-description">Maintenacede la diffusion & réalisation d'émission radio en direct en extérieur pour le Groupe Mediameeting.
							</p>
							<ul class="team-card-social">
								<li class="social-item">
									<a href="https://fr.linkedin.com/in/marc-rigo-39ba8b92" target="_blank">
										<i class="fa fa-linkedin"></i>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>



			</div>

		</div>
	</section>

	<!-- ===== ABOUT US ===== -->
	<section id="about-us3" class="section-negative">
		<div class="container">

			<!-- ===== SECTION TITLE ===== -->
			<h2 class="title-default text-center">Du côté des technologies...</h2>

			<div class="row mb-30">

				<!-- ===== TEAM CARD =====  -->
				<div class="col-lg-4 col-md-6 col-sm-6 col-xs-8 mb-40 center-block" style=float:none;>
					<div class="team-card">
						<figure class="team-card-image">
							<img src="/assets/img/team/tarik.png" alt="Tarik Talhaoui" title="Tarik Talhaoui" />
						</figure>
						<div class="team-card-content">
							<h2 class="team-card-title">Tarik Talhaoui</h2>
							<p class="team-card-job">Développeur intégrateur & designer</p>
							<p class="team-card-description">Autodidacte, passionné par le web.</p>
							<ul class="team-card-social">
								<li class="social-item">
									<a href="https://twitter.com/TakCastel" target="_blank">
										<i class="fa fa-twitter"></i>
									</a>
								</li>
								<li class="social-item">
									<a href="https://www.linkedin.com/in/tarik-talhaoui-832769110/" target="_blank">
										<i class="fa fa-linkedin"></i>
									</a>
								</li>
								<li class="social-item">
									<a href="https://github.com/TakCastel" target="_blank">
										<i class="fa fa-github"></i>
									</a>
								</li>
								<li class="social-item">
									<a href="https://takcastel.com/" target="_blank">
										<i class="fa fa-link"></i>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>

			</div>

		</div>
	</section>

</main>

{% include "footer.html" %}