{% include "header.html" %}

<!-- ===== MAIN ===== -->
<main id="main" class="main">

	<!-- ===== PAGE HEADER ===== -->
	<section class="page-error" style="background-image: url(/assets/img/error-background.jpg)">
		<div class="page-error-inner">
			<div class="container">

				<!-- ===== PAGE HEADER CONTENT ===== -->
				<div class="page-error-content text-center">
					<h2>{{ notfound.title }}</h2>
					<p class="mb-40">{{ notfound.text }}</p>
					<a href="/index.html" class="btn btn-info">{{ notfound.link }}</a>

				</div>


			</div>
		</div>
	</section>

</main>

{% include "footer.html" %}