{% include "header.html" %}


<!-- ===== MAIN ===== -->
<main id="main" class="main">

	<!-- ===== PAGE HEADER ===== -->
	<header class="page-header">
		<div class="page-header-inner">
			<div class="container">

				<!-- ===== PAGE HEADER CONTENT ===== -->
				<div class="page-header-content text-center">
					<h2>{{ lang.contact }}</h2>
				</div>

			</div>
		</div>
	</header>

	<!-- ===== SECTION ===== -->
	<section class="section-negative">
		<div class="container">

			<!-- ===== PAGE CONTENT ===== -->
			<div class="page-content mt-60">

				<!-- ===== PAGE TITLE & DESCRIPTION ===== -->
				<div class="row">
					<div class="col-md-8 col-md-offset-2 text-center">
						<h2 class="title-default mb-10">{{ contact.title }}</h2>
						<p class="page-description mb-70">{{ contact.description }}</p>
					</div>
				</div>

				<!-- ===== FORM CONTACT ===== -->
				<div class="row">
					<div class="col-md-8 col-md-offset-2">

						<form action="https://formspree.io/{{ header.contact }}" method="POST">

							<input type="hidden" name="_language" value="{{ lang._ }}" />

							<div class="mb-20">
								<label for="email" class="label-control">{{ lang.email }}* :</label>
								<input type="email" name="email" class="form-control" id="email" required/>
							</div>

							<div class="mb-20">
								<label for="message" class="label-control">{{ lang.message }}* :</label>
								<textarea rows="6" name="message" id="message" class="form-control" required></textarea>
							</div>

							<div class="mb-20">
								<input type="submit" class="btn btn-primary btn-lg" value="{{ lang.send }}">
							</div>
						</form>

					</div>
				</div>
			</div>

		</div>
	</section>
</main>


{% include "footer.html" %}