<!-- ===== FOOTER ===== -->
<footer class="footer">
  <!-- ===== FOOTER CONTENT INFORMATION ===== -->
  <section class="section-positive">
    <div class="container">
      <div class="row mt-70 mb-30">
        <!-- ===== SITEMAP ===== -->
        <div class="col-sm-3 mb-40">
          <h2 class="title-separator white">{{ lang.sitemap }}</h2>
          <ul class="footer-list">
            {% for podcast in header.podcasts %}
            <li>
              <a href="/{{ podcast.podcastPath }}/index.html">{{
                podcast.title
              }}</a>
            </li>
            {% endfor %}

            <li>
              <a href="/about-us.html">{{ lang.team }}</a>
            </li>

            <li>
              <a href="/contact.html">{{ lang.contact }}</a>
            </li>
          </ul>
        </div>

        <!-- ===== PODCASTS EPISODES =====
        <div class="col-sm-3 mb-40">
          <h2 class="title-separator white">{{ lang.lastEpisode }}</h2>
          <ul class="footer-complement">
            {% for podcast in header.podcasts %}
            <li>
              <a href="/{{ podcast.episodes[1].episodePath }}">{{
                podcast.episodes[1].title
              }}</a>
              <span>{{ podcast.episodes[1].friendlyDate }}</span>
            </li>
            {% endfor %}
          </ul>
        </div>
        -->

        <!-- ===== PODCASTING CONNECTION ===== -->
        <div class="col-sm-3 mb-40">
          <h3 class="title-separator white">{{ lang.podcastLinks }}</h3>
          <ul class="social-list">
            {% if header.rss %}
            <li class="social-item">
              <a href="{{ header.rss }}" target="_blank" rel="noreferrer">
                <i class="fa fa-rss"></i>
              </a>
            </li>
            {% endif %} {% if header.applePodcastsLink %}
            <li class="social-item">
              <a href="{{ header.applePodcastsLink }}" target="_blank" rel="noreferrer">
                <i class="fa fa-podcast"></i>
              </a>
            </li>
            {% endif %} {% if header.googlePodcastsLink %}
            <li class="social-item">
              <a href="{{ header.googlePodcastsLink }}" target="_blank" rel="noreferrer">
                <i class="fa fa-google"></i>
              </a>
            </li>
            {% endif %}
          </ul>
        </div>

        <!-- ===== SOCIAL CONNECTION ===== -->
        <div class="col-sm-3 mb-40">
          <h3 class="title-separator white">{{ lang.social }}</h3>
          <ul class="social-list">
            <li class="social-item">
              <a
                href="https://www.facebook.com/sharer/sharer.php?u={{
                  header.url
                }}"
                rel="noopener"
                target="_blank" rel="noreferrer"
              >
                <i class="fa fa-facebook"></i>
              </a>
            </li>
            <li class="social-item">
              <a
                rel="noopener"
                target="_blank" rel="noreferrer"
                href="https://twitter.com/share?url={{ header.url }}&via={{
                  header.social.twitter.via
                }}&related={{
                  header.social.twitter.related
                }}&hashtags={% for hashtag in header.social.twitter.hashtags %}{{
                  hashtag
                }},{% endfor %}&text={{ header.social.twitter.text }}"
              >
                <i class="fa fa-twitter"></i>
              </a>
            </li>
            <li class="social-item">
              <a
                href="https://www.linkedin.com/shareArticle?mini=true&amp;url={{
                  header.url
                }}"
                target="_blank" rel="noreferrer"
              >
                <i class="fa fa-linkedin"></i>
              </a>
            </li>
          </ul>
        </div>

        <!-- ===== OTHER LINKS ===== -->
        <div class="col-sm-3 mb-40">
          <h3 class="title-separator white">{{ lang.otherLinks }}</h3>
          <ul class="social-list">
            {% if header.youtubeLink %}
            <li class="social-item">
              <a href="{{ header.youtubeLink }}" target="_blank" rel="noreferrer">
                <i class="fa fa-youtube"></i>
              </a>
            </li>
            {% endif %} {% if header.mediumLink %}
            <li class="social-item">
              <a href="{{ header.mediumLink }}" target="_blank" rel="noreferrer">
                <i class="fa fa-medium"></i>
              </a>
            </li>
            {% endif %} {% if header.githubLink %}
            <li class="social-item">
              <a href="{{ header.githubLink }}" target="_blank" rel="noreferrer">
                <i class="fa fa-github"></i>
              </a>
            </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </div>
  </section>

  <!-- ===== FOOTER INFORMATION ===== -->
  <section class="footer-credits">
    <div class="container">
      <div class="row">
        <!-- ===== CREDIT LOGO ===== -->
        <div class="col-sm-6 footer-logo">
          <div>
            <a href="/index.html">
              {% if header.piioKey %}
              <img
                data-piio="{{ header.logoUrl }}"
                alt="{{ header.altLogo }}"
                title="{{ _.title }}"
                src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA"
              />
              {% else %}
              <img
                src="{{ header.logoUrl }}"
                alt="{{ header.altLogo }}"
                title="{{ _.title }}"
              />
              {% endif %}
            </a>
          </div>
        </div>

        <!-- ===== CREDIT LOGO ===== -->
        <div class="col-sm-6 text-right">
          {{ _.footline }} <br/>  
          <a href="{{ pressFolderLink }}" target="_blank" rel="noreferrer">{{ lang.press }}</a> -
          <a href="/terms.html" target="_blank" rel="noreferrer"> {{ lang.terms }}</a> <br/> 
         <!-- {{ footer.year }} -->
        </div>
      </div>
    </div>
  </section>
</footer>

<!-- =================================== -->
<!-- 			  SCRIPTS 				 -->
<!-- =================================== -->

<script async src="/assets/scripts.js"></script>

<!-- JQUERY - ->
<script src="/assets/js/jquery-1.11.min.js"></script>

<!-- BOOTSTRAP JS - ->
<script src="/assets/js/bootstrap.min.js"></script>

<!-- MEDIA ELEMENT - ->
<script src="/assets/js/mediaelement-and-player.min.js"></script>

<!-- MAGNIFIC POPUP - ->
<script src="/assets/js/magnific-popup.min.js"></script>

<!-- FORM VALIDATE - ->
<script src="/assets/js/validate.min.js"></script>

<!-- PLACEHOLDER FOR IE - ->
<script src="/assets/js/placeholder.min.js"></script>

<!-- THEME JS - ->
<script src="/assets/js/main.js"></script>


<!-- Sniply 
{% if header.sniply %}
<script type="text/javascript" src="https://gosniply.com/site/{{ header.sniply }}.js"></script>
{% endif %}
-->


</body>

</html>