<!-- ===== FOOTER ===== -->
<footer class="footer">
  <!-- ===== FOOTER CONTENT INFORMATION ===== -->
  <section class="section-positive">
    <div class="container">
      <div class="row mt-70 mb-30">
        <!-- ===== SITEMAP ===== -->
        <div class="col-sm-3 mb-40">
          <h2 class="title-separator white">{{ lang.sitemap }}</h2>
          <ul class="footer-list">
            {% for podcast in header.podcasts %}
            <li>
              <a href="/{{ podcast.podcastPath }}/index.html">{{
                podcast.title
              }}</a>
            </li>
            {% endfor %}

            <li>
              <a href="/about-us.html">{{ lang.team }}</a>
            </li>

            <li>
              <a href="/contact.html">{{ lang.contact }}</a>
            </li>
          </ul>
        </div>       
      </div>
    </div>
  </section>

  <!-- ===== FOOTER INFORMATION ===== -->
  <section class="footer-credits">
    <div class="container">
      <div class="row">
        <!-- ===== CREDIT LOGO ===== -->
        <div class="col-sm-6 footer-logo">
          <div>
            <a href="/index.html">
              {% if header.piioKey %}
              <img
                data-piio="{{ header.logoUrl }}"
                alt="{{ header.altLogo }}"
                title="{{ _.title }}"
                src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA"
              />
              {% else %}
              <img
                src="{{ header.logoUrl }}"
                alt="{{ header.altLogo }}"
                title="{{ _.title }}"
              />
              {% endif %}
            </a>
          </div>
        </div>

        <!-- ===== CREDIT LOGO ===== -->
        <div class="col-sm-6 text-right">
            {{ _.footline }} <br/>  
       <!--  <a href="{{ pressFolderLink }}" target="_blank" rel="noreferrer">{{ lang.press }}</a> - -->
          <a href="/terms.html" target="_blank" rel="noreferrer"> {{ lang.terms }}</a> <br/> 
         <!-- {{ footer.year }} -->
        </div>
      </div>
    </div>
  </section>
</footer>

<script async src="/assets/scripts.js"></script>

</body>

</html>