 {% include "header.html" %}


<!-- ===== WELCOME ===== -->
<section class="podcast-hero" 
    {% if header.piioKey %}
    data-piio-bck="{{ header.backgroundUrl }}"
    {% else %}
    style="background-image: url({{ header.backgroundUrl }})"
	{% endif %}
>
	<div class="podcast-hero-inner">
		<div class="container">
			<div class="podcast-hero-content">
			    <h1 class="podcast-hero-title">
					<a href="#">{{ header.headline }}</a>
					<br/>
					<br/>
					<a href="{{ header.podcasts[0].podcastPath }}" class="btn btn-primary btn-lg">{{ lang.linksandepisodes }} "{{ header.podcasts[0].title }}"</a>
				
				<!--
					<br/>
					<br/>
					<a href="#contest" class="btn btn-primary btn-lg">Pourquoi aimez-vous la radio ?</a>
				-->
				</h1>

			</div>
		</div>
	</div>
</section>

<!-- ===== MAIN ===== -->
<main id="main" class="main">

	<!-- ===== PODCASTS INDEX ===== -->

	{% for podcast in header.podcasts %}
	<section id="#episodes" class="section-positive">
		<div class="container">

			<!-- ===== SECTION TITLE ===== -->
			<h2 class="title-default">{{ podcast.title }}</h2>

			<div class="row">

				<div class="col-sm-12 mb-40">
					<p>{{ podcast.description }}</p>
				</div>

				<!-- ===== PODCAST CARD FULL ===== -->
				<div class="col-sm-12 mb-40">
					<div class="podcast-card full">
						<figure class="podcast-image">
							<a href="/{{podcast.episodes[1].episodePath }}">
								{% if header.piioKey %}
								<img
									data-piio="{{ podcast.episodes[1].squareImg }}"
									alt="{{ podcast.episodes[1].title }}" 
									title="{{podcast.episodes[1].title }}"
									src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mP8+f9vPQAJZAN2rlRQVAAAAABJRU5ErkJggg=="
								/>
								{% else %}
								<img 
									src="{{ podcast.episodes[1].squareImg }}" 
									alt="{{ podcast.episodes[1].title }}" 
									title="{{podcast.episodes[1].title }}"
								/>
								{% endif %}
							</a>
						</figure>
						<div class="podcast-content">
							<span class="podcast-date">{{ podcast.episodes[1].friendlyDate }}</span>
							<h3 class="podcast-title">
								<a href="/{{ podcast.episodes[1].episodePath }}">{{ podcast.episodes[1].title }}</a>
							</h3>
							<!--
							<p class="podcast-excerpt">
								<a href="/{{ podcast.episodes[1].episodePath }}">{{ podcast.episodes[1].description }}</a>
							</p>
							-->
							<ul class="podcast-meta">
								<li class="item">
									<i class="fa fa-clock-o"></i> {{ podcast.episodes[1].durationMin }} min</li>
								<li class="item">
									<a href="{{ podcast.episodes[1].youtubeUrl }}" class="podcast-play">
										<i class="fa fa-youtube"></i> Youtube </a>
								</li>
								<li class="item">
									<a href="{{ podcast.audioUrlPrefix }}{{ podcast.episodes[1].audioUrl }}" class="podcast-play">
										<i class="fa fa-play"></i>{{ lang.download }} </a>
								</li>
							</ul>
						</div>
					</div>
				</div>

				<!-- ===== CHECK MORE ===== -->
				<div class="col-sm-12 mb-50">
					<a href="/{{ podcast.podcastPath }}" class="btn btn-primary btn-block btn-lg">{{ lang.allepisodes }}</a>
				</div>

			</div>

		</div>
	</section>
	{% endfor %}

	<!-- ===== More section ===== -->
	<section id="more" class="section-negative">

		<!--
		<div class="container">			
			<h2 id="contest" class="title-default">Sondage & concours</h2>
            <div id="1238-fp6xqm3r" class="sw_container"><script type="text/javascript" src="https://sweepwidget.com/w/j/w_init.js"></script></div>
		</div>	
	    -->

		{% for moreItem in more %}
		<div class="container">

			<!-- ===== SECTION TITLE ===== -->
			<h2 class="title-default">{{ moreItem.title }}</h2>

			<div class="row mb-30 row-eq-height">

				<!-- ===== TEAM CARD ===== -->
				{% for item in moreItem.items %}
				<div class="col-md-6 mb-20">
					<div class="team-card">
						<figure class="team-card-image">
							{% if header.piioKey %}
							<img class="team-card-image-piio" data-piio="{{ item.image }}" alt="{{ vocalagentsunit.altImage }}" title="{{ vocalagentsunit.title }}" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mP8+f9vPQAJZAN2rlRQVAAAAABJRU5ErkJggg==" />
						    {% else %}
							<img style="object-fit:scale-down" src="{{ item.image }}" alt="{{ vocalagentsunit.altImage }}" title="{{ vocalagentsunit.title }}" />
						    {% endif %}
						</figure>
						<div class="team-card-content">

							<h3 class="team-card-title">{{ item.title }}</h3>
							<p class="team-card-job">{{ item.subtitle }}</p>
							<p class="team-card-description">{{ item.description }}</p>
							<br/>

						</div>
					</div>
				</div>
				{% endfor %}

			</div>
			{% endfor %}
	</section>

</main>


{% include "footer.html" %}