 {% include "header.html" %}


<!-- ===== WELCOME ===== -->
<section class="podcast-hero" style="background-image: url({{ header.backgroundUrl }})">
	<div class="podcast-hero-inner">
		<div class="container">
			<div class="podcast-hero-content">
				<h2 class="podcast-hero-title">
					<a href="#">{{ header.headline }}</a>
					<br/>
					<br/>
					<a href="{{ header.podcasts[0].podcastPath }}/listen.html" class="btn btn-primary btn-lg">{{ lang.listen }} "{{ header.podcasts[0].title }}"</a>
				</h2>

			</div>
		</div>
	</div>
</section>

<!-- ===== MAIN ===== -->
<main id="main" class="main">

	<!-- ===== PODCASTS INDEX ===== -->

	{% for podcast in header.podcasts %}
	<section id="#episodes" class="section-positive">
		<div class="container">

			<!-- ===== SECTION TITLE ===== -->
			<h2 class="title-default">Podcast "{{ podcast.title }}"</h2>

			<div class="row">

				<div class="col-sm-12 mb-40">
					<p>{{ podcast.description }}</p>
				</div>

				<!-- ===== PODCAST CARD FULL ===== -->
				<div class="col-sm-12 mb-40">
					<div class="podcast-card full">
						<figure class="podcast-image">
							<a href="/{{podcast.episodes[1].episodePath }}">
								<img src="{{ podcast.episodes[1].squareImg }}" alt="{{ podcast.episodes[1].title }}" title="{{podcast.episodes[1].title }}"
								/>
							</a>
						</figure>
						<div class="podcast-content">
							<span class="podcast-date">{{ podcast.episodes[1].friendlyDate }}</span>
							<h2 class="podcast-title">
								<a href="/{{ podcast.episodes[1].episodePath }}">{{ podcast.episodes[1].title }}</a>
							</h2>
							<!--
							<p class="podcast-excerpt">
								<a href="/{{ podcast.episodes[1].episodePath }}">{{ podcast.episodes[1].description }}</a>
							</p>
							-->
							<ul class="podcast-meta">
								<li class="item">
									<i class="fa fa-clock-o"></i> {{ podcast.episodes[1].durationMin }} min</li>
								<li class="item">
									<a href="{{ podcast.episodes[1].youtubeUrl }}" class="podcast-play">
										<i class="fa fa-youtube"></i> Youtube </a>
								</li>
								<li class="item">
									<a href="{{ podcast.episodes[1].audioUrl }}" class="podcast-play">
										<i class="fa fa-play"></i> {{ lang.download }} </a>
								</li>
							</ul>
						</div>
					</div>
				</div>

				<!-- ===== CHECK MORE ===== -->
				<div class="col-sm-12 mb-50">
					<a href="/{{ podcast.podcastPath }}" class="btn btn-primary btn-block btn-lg">{{ lang.allepisodes }}</a>
				</div>

			</div>

		</div>
	</section>
	{% endfor %}

	<!-- ===== COMING SOON ===== -->
	<section id="coming-soon" class="section-negative">
		<div class="container">

			<!-- ===== SECTION TITLE ===== -->
			<h2 class="title-default">{{ lang.comingsoon }}</h2>

			<div class="row mb-30 row-eq-height">

				<!-- ===== TEAM CARD ===== -->
				{% for csoon in comingsoon %}
				<div class="col-md-6 mb-20">
					<div class="team-card">
						<figure class="team-card-image">
							<img src="{{ csoon.image }}" alt="{{ csoon.altImage }}" title="{{ csoon.title }}" />
						</figure>
						<div class="team-card-content">

							<h2 class="team-card-title">{{ csoon.title }}</h2>
							<p class="team-card-job">{{ csoon.when }}</p>
							<p class="team-card-description">{{ csoon.description }}</p>
							<br/>

						</div>
					</div>
				</div>
				{% endfor %}

			</div>
	</section>

</main>


{% include "footer.html" %}